body{
  width:100%;
  max-width:1300px;
  margin:auto;
}
* {
  box-sizing:border-box;
}

.breadcrumb a {
  display:block;
  background-color: black;
  color:white;
  font-family: monospace;
  padding:3px;
}
.topic, .type {
  position:relative;
  left:0px;
  top:-5px;
  background-color: #777;
  color:white;
  font-family: monospace;
  padding:3px;
  margin:0px;
  font-size: 10px;
}
.type{
background-color: #333;
}
.main img{
  width:100%;
}
.left {
  padding:20px;
  float:left;
  width:24%; /* The width is 30%, by default */
}

hr{
  padding:30px;
  background-color:#eee;
  border:none;
  margin-top:20px;
  margin-bottom:20px;
}

.main {
  padding:20px;
  float:left;
  width:48%; /* The width is 35%, by default */
}

.diagram{
  opacity: 0.5;
}
.diagram:hover{
  opacity: 1;
}

.right {
  padding:20px;
  float:left;
  width:28%; /* The width is 35%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
