@font-face {
    font-family: Coolvetica;
    src: url("coolvetica/coolvetica rg.otf") format("opentype");
}


body{
  padding:20px;
  width:100%;
  max-width:900px;
  margin:auto;
}
* {
  box-sizing:border-box;
}

.blurb {
  max-width:100%;
  padding:10px;
  float:left;
  margin-right:20px;
  margin-bottom:20px;
  height:auto;
  min-height:200px;
}

body p{
  font-size: 15px;
}
.blurb p{
  font-size: 12px;
}

.a{
  background-color: #F6F4F6; /*#AF9AB2;*/
  color:#AF9AB2;
}
.b{
  background-color: #F6F4F6; /*#9BC4BC;*/
  color:#AF9AB2;
}
.c{
  background-color: #F6F4F6; /*#F0B67F;*/
  color:#AF9AB2;
}
.a:hover, .b:hover, .c:hover{
  background-color: #F6F4F6; /*#AF9AB2;*/
  color:#000;
}

.a, .b, .c{
  background-color: #F6F4F6; /*#F0B67F;*/
  color:#876E87;
}

h1, h2, h3{
  font-family: Coolvetica;
  clear:both;
}

h1{
  letter-spacing: 2px;
  margin-top:60px;
  color:#5B9A8F;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: #fff;
}
h3{
  color:#876E87;
  /*-webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #876E87;
  -webkit-text-fill-color: #fff;*/
}

.breadcrumb a {
  display:block;
  background-color: black;
  color:white;
  font-family: monospace;
  padding:3px;
}
.topic, .type {
  position:relative;
  left:0px;
  top:-5px;
  background-color: #777;
  color:white;
  font-family: monospace;
  padding:3px;
  margin:0px;
  font-size: 10px;
}
.type{
background-color: #333;
}
.main img{
  width:100%;
}
.left {
  padding:20px;
  float:left;
  width:24%; /* The width is 30%, by default */
}

hr{
  padding:30px;
  background-color:#eee;
  border:none;
  margin-top:20px;
  margin-bottom:20px;
}

.main {
  padding:20px;
  float:left;
  width:48%; /* The width is 35%, by default */
}

.diagram{
  opacity: 0.5;
}
.diagram:hover{
  opacity: 1;
}

.right {
  padding:20px;
  float:left;
  width:28%; /* The width is 35%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
